@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.woff2") format("woff2"),
    url("../fonts/Chomsky.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("../fonts/Newsreader.woff2") format("woff2"),
    url("../fonts/Newsreader.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre-Franklin";
  src: url("../fonts/Libre-Franklin.ttf") format("truetype");
  font-weight: normal bold border;
  font-style: normal;
}

@font-face {
  font-family: "GloucesterMTPro-BoldExtCond";
  src: url("../fonts/GloucesterMTPro-BoldExtCond.woff2") format("woff2"),
    url("../fonts/GloucesterMTPro-BoldExtCond.woff") format("woff");
  font-style: normal italic;
  font-weight: normal lighter;
}

@font-face {
  font-family: "News-Gothic-No2-W02-Blk";
  src: url("../fonts/News-Gothic-No2-W02-Blk.ttf") format("truetype");
  font-style: normal;
  font-weight: normal bold;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/CheltenhamBT-BoldItalic.woff2") format("woff2"),
    url("../fonts/CheltenhamBT-BoldItalic.woff") format("woff");
  font-weight: normal bold;
  font-style: normal italic;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 4rem 8rem 4rem 8rem;
  font-family: Newsreader;
}

main {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

article:nth-of-type(1),
article:nth-of-type(2),
article:nth-of-type(3),
article:nth-of-type(4),
article:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

section p {
  margin: 0;
  white-space: preserve;
  hyphens: auto;
}

p {
  margin: 0;
  text-align: justify;
  line-height: calc(1.49 * 1em);
  width: 100%;
}

input,
textarea {
  width: 100%;
  height: 1.75rem;
  border-radius: 0;
  font-family: "Newsreader";
  padding-left: 0.25rem;
  border: solid 1px rgb(85, 85, 85);
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  height: 2.75em;
  font-size: 0.86rem;
}

textarea {
  font-size: 0.875rem;
  height: 100%;
  margin: 0;
  padding-top: 0.431rem;
  white-space: pre-wrap;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

button {
  width: 100%;
  font-family: "Newsreader";
  border: 1px solid black;
  border-radius: 0;
  line-height: 1.5rem;
  height: 2rem;
  color: black;
  background-color: rgb(230, 230, 230);
  padding: 1px 2px 1px 2px;
  min-height: 2rem;
}

article:nth-of-type(1),
article:nth-of-type(3),
article:nth-of-type(4),
article:nth-of-type(5) {
  flex: 1;
}

.skills {
  border: none;
}

article:nth-of-type(2) {
  flex: 2;
}

.vertical-line {
  border-left: 1px solid rgb(131, 131, 131);
  margin-top: 0.41rem;
}

.horizontal-line {
  border-top: 1px solid rgb(0, 0, 0);
}

.section-horizontal-line {
  border-top: 1px solid rgb(0, 0, 0);
  width: 65%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline;
  font-family: "Chomsky";
  font-size: 8.5vw;
  font-weight: lighter;
  line-height: 7rem;
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
}

.h1-horizontal-line,
.h2-horizontal-line {
  border-top: 1px solid rgb(0, 0, 0);
}

h3 {
  text-align: center;
  font-family: "GloucesterMTPro-BoldExtCond";
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin: 0 0 0 0;
}

h4 {
  font-family: "Newsreader";
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1em;
}

h5 {
  text-align: center;
  margin: 0;
  line-height: 1em;
}

.skills-subheader {
  font-size: 1rem;
}

article:nth-of-type(4) figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

figure img {
  object-fit: cover;
  filter: grayscale(100%);
  width: 100%;
}

.job-image,
.project-image,
.headshot-image {
  border: 1px solid black;
}

.headshot-image {
  background-color: #000000c7;
}

figcaption {
  text-align: center;
}

.projects-header {
  text-align: start;
}

.edition-and-forecast {
  display: inline-flex;
  flex-direction: column;
  width: 213px;
  height: fit-content;
}

.motto {
  border: solid 1px black;
  font-size: 1.1rem;
  padding: 1.25rem;
  width: 12rem;
  text-align: center;
}

.website-metadata {
  display: flex;
  font-family: "Newsreader";
  font-weight: lighter;
  font-size: 1.1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
}

.website-metadata span:nth-child(2) {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  font-weight: lighter;
}

.external-links {
  display: flex;
  gap: 0.125rem;
}

.external-links a {
  font-size: 1rem;
  color: black;
}

.external-links a:hover {
  color: rgb(131, 131, 131);
}
.edition {
  font-family: "Libre-Franklin";
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.forecast {
  font-size: 0.8rem;
  text-align: justify;
  margin: 0;
}
.forecast-time {
  font-weight: bold;
}

.jobs-header,
.projects-header,
.contact-header {
  font-family: "GloucesterMTPro-BoldExtCond";
  font-weight: lighter;
  font-size: 2.75rem;
  line-height: 1.08;
}

.skills-header {
  font-family: "News-Gothic-No2-W02-Blk";
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 1rem;
}

.skills-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.skills p {
  text-transform: capitalize;
  hyphens: auto;
  white-space: unset;
}

.decapitalize {
  text-transform: lowercase;
}

.professional-statement-header {
  font-family: "Cheltenham";
  font-size: 8.31vw;
  line-height: 2.25rem;
  margin-top: 0.07rem;
  text-align: justify;
}

@media screen and (min-width: 2000px) {
  body {
    margin: 2rem 4rem 2rem 4rem;
  }
  h1 {
    font-size: 5.2vw;
  }

  .h1-horizontal-line {
    display: none;
  }

  .horizontal-line,
  .h2-horizontal-line {
    width: 35%;
  }

  .horizontal-line {
    max-width: 106.16px;
  }

  .vertical-line {
    margin: 0.43rem 0.5rem 0 0.5rem;
  }

  .website-metadata {
    margin: 0.3rem 0 0 0;
  }

  .professional-statement-header {
    font-size: 2.4rem;
    text-align: start;
    margin-top: 0.43rem;
  }

  .jobs section .para-container, .projects section .para-container {
    max-height: 436px;
  }

  .skills section {
    height: min-content;
  }

  .skills {
    vertical-align: middle;
  }

  .email {
    max-height: 662px;
  }

  .para-container {
    max-height: 266px;
    overflow-y: scroll;
    scrollbar-width: none;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
      linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 70%) center
        bottom,
      radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top,
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 17px, 100% 17px;
    background-position: 50% 0, 50% 100%, 50% 0, 50% 100%;
    background-attachment: local, local, scroll, scroll;
  }


  .job-image,
  .project-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    min-height: 300px;
  }

  .swe-img {
    object-position: -40px 0px;
  }

  .internship-img {
    object-position: -23px 0px;
  }

  .portfolio-img {
    object-position: -63px 0px;
  }

  .opengrader-img {
    object-position: -35px 0px;
  }

  .headshot-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    min-height: 340px;
    object-position: 40% -36%;
  }

  .para-container:last-of-type {
    max-height: unset;
  }
  form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (1260px < width <= 2000px) {
  body {
    margin: 0.75rem 2rem 3rem 2rem;
  }

  .website-metadata {
    margin-top: 0.25rem;
  }

  header {
    display: flex;
    align-items: center;
  }

  h1 {
    display: inline;
    font-size: 6.6vw;
  }

  .h1-horizontal-line {
    display: none;
  }

  .horizontal-line,
  .h2-horizontal-line {
    width: 35%;
  }

  .skills-header {
    margin-top: 0.8rem;
  }

  .skills p,
  h5 {
    margin: 0;
  }

  main {
    margin-top: 0.25rem;
  }

  .jobs,
  .projects,
  .professional-statement,
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .professional-statement-header {
    font-size: 2.4rem;
    text-align: start;
    margin-top: 0.43rem;
  }

  .vertical-line {
    margin: 0.43rem 0.5rem 0 0.5rem;
  }

  .horizontal-line {
    margin: 0;
    max-width: 106.16px;
  }

  .skills {
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .industry-knowledge,
  .tools,
  .programming-languages,
  .soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-figure {
    margin: 0;
  }

  .projects-header {
    text-align: start;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  section p {
    text-align: start;
  }

  .job-image,
  .project-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    min-height: 300px;
  }

  .project-image {
    object-position: -92px 0px;
  }

  .headshot-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    min-height: 340px;
    object-position: 40% -289%;
  }

  .swe-img {
    object-position: -40px 0px;
  }

  .internship-img {
    object-position: -44px 0px;
  }

  .portfolio-img {
    object-position: -35px 0px;
  }

  .opengrader-img {
    object-position: -30px 0px;
  }

  .para-container {
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: none;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
      linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 70%) center
        bottom,
      radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top,
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 17px, 100% 17px;
    background-position: 50% 0, 50% 100%, 50% 0, 50% 100;
    background-attachment: local, local, scroll, scroll;
  }

  .para-container:last-of-type {
    max-height: 325px;
  }

  form {
    width: 100%;
    height: 100%;
  }
}

@media screen and (860px < width <= 1260px) {
  body {
    margin: 1rem 1rem 1rem 1rem;
  }
  header {
    justify-content: space-between;
  }
  .motto {
    width: 10rem;
    padding: 1.25rem 1rem;
  }
  .edition-and-forecast {
    width: 11rem;
  }
  .forecast {
    hyphens: auto;
    text-align: unset;
  }
  h1 {
    font-size: 6vw;
    line-height: 4rem;
  }
  .h1-horizontal-line {
    display: none;
  }
  .h2-horizontal-line {
    width: 54%;
    max-width: 207px;
  }
  .horizontal-line {
    margin: 0;
    width: 21%;
    max-width: 207px;
  }
  h5 {
    margin: 0;
    font-size: 0.95rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: min-content 1fr;
    margin-top: 0.05rem;
    column-gap: 1.25rem;
  }

  article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row: 1 / 2;
  }

  .jobs section:last-child .job-description,
  .skills .skills-paragraphs {
    border-bottom: 1px solid black;
  }

  .jobs-figure {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  main > .vertical-line,
  main > .horizontal-line,
  main > .article-horizontal-line {
    display: none;
  }

  article:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row: 1 / 2;
  }

  .skills {
    border: none;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .skills p:last-child {
    margin: 0;
  }

  .skills-figure {
    margin: 0;
  }

  .skills-header {
    margin-top: 0rem;
    line-height: 1.68rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-content: space-around;
    align-items: center;
  }

  .button-container {
    display: none;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row: 2 / 3;
    gap: 0.75rem;
  }

  .professional-statement {
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .professional-statement-header {
    font-size: 4.5vw;
    text-align: start;
    line-height: 2.92rem;
  }

  .contact-header {
    text-align: start;
    max-width: 564px;
  }
  .contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 14;
    grid-row: 4 / 13;
    gap: 0.5rem;
    justify-self: center;
  }

  form {
    width: 100%;
    max-width: 564px;
    height: 61%;
  }

  input {
    height: 5.75em;
    font-size: 0.86rem;
  }
}

@media screen and (500px < width <= 860px) {
  body {
    margin: 0.5rem 1rem 0.5rem 1rem;
  }

  input {
    height: 2.75rem;
    font-size: 0.85rem;
  }

  textarea {
    font-size: 0.92rem;
  }

  header {
    justify-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  figure {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.25rem;
  }

  h1 {
    font-size: 9vw;
    line-height: calc(1.49 * 1em);
  }

  .h1-horizontal-line {
    display: none;
  }

  .horizontal-line {
    border-top: solid black 1px;
    margin: 0;
    width: 18%;
  }

  .vertical-line {
    display: none;
  }

  .jobs-header,
  .projects-header,
  .contact-header {
    text-align: center;
  }

  .website-metadata {
    margin: 0;
    padding: 0.25rem 0rem 0.25rem 0rem;
    justify-content: space-evenly;
  }

  .volume,
  .money {
    display: none;
  }

  .website-metadata span:nth-child(2) {
    display: none;
  }

  .h2-horizontal-line {
    margin: 0;
    width: 17%;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0 0.25rem 0;
  }

  .jobs section:nth-child(2) figure {
    display: none;
  }

  figure img {
    width: 90%;
    max-width: 455px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 4% 27%;
    border: solid 1px rgb(47, 40, 40);
  }

  .internship-img {
    object-position: -27px 0px;
  }

  .opengrader-img {
    object-position: -50px 0px;
  }

  .headshot-image {
    object-position: 20% -40%;
    background-color: #000000c7;
  }

  .working-img {
    object-position: 40% 27%;
  }

  article:nth-of-type(1) section p {
    padding: 0;
    height: unset;
  }

  article:nth-of-type(1) section p,
  article:nth-of-type(3) section p,
  article:nth-of-type(4) section p {
    line-height: calc(1.49 * 1em);
    hyphens: auto;
    white-space-collapse: preserve;
    align-self: center;
    width: 90%;
  }

  .article-horizontal-line {
    border-top: 1px solid black;
    margin: 1rem 0 1rem 0;
  }

  .button-container {
    display: none;
  }

  .skills {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .skills-paragraphs {
    width: 90%;
    align-self: center;
  }

  .projects {
    grid-column-start: 1;
    grid-column-end: 10;
  }

  .projects-header {
    padding: 0;
    text-align: center;
  }

  article:nth-of-type(3) section p {
    height: unset;
  }

  .para-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .professional-statement {
    grid-column-start: 10;
    grid-column-end: 19;
  }

  .professional-statement-header {
    font-size: 4.8vw;
    padding: 0;
    text-align: center;
    max-width: 630px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    margin-left: 0;
    width: 84%;
    align-self: center;
    max-width: 548px;
  }

  .contact-header {
    margin: 0;
    width: 93%;
    text-align: center;
  }

  .motto {
    flex: 3;
    padding: 0.75rem;
    display: none;
  }

  .edition-and-forecast {
    flex: 3;
    display: none;
  }

  article:nth-of-type(2) {
    border: none;
  }

  .skills-header {
    margin: 0;
    text-align: center;
  }
}

@media screen and (width <= 500px) {
  body {
    display: block;
    margin: 0.5rem 1.25rem 0.5rem 1.25rem;
  }
  header {
    justify-content: center;
  }

  .motto,
  .edition-and-forecast {
    display: none;
  }
  h1 {
    font-size: 8.5vw;
    line-height: 2rem;
  }
  .website-metadata {
    display: none;
  }

  main {
    flex-direction: column;
    margin-top: 0;
  }

  .h1-horizontal-line {
    display: block;
    margin: 0.25rem 0 0.25rem 0;
  }

  .h2-horizontal-line {
    width: 35%;
  }

  .h5-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0.5rem 37% 0.85rem 37%;
  }

  .article-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0.75rem 0 0.75rem 0;
  }

  article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .jobs-header,
  .projects-header {
    text-align: left;
    padding: 0;
  }

  .jobs-header br,
  .projects-header br {
    display: none;
  }

  .horizontal-line {
    width: 35%;
  }

  .vertical-line {
    display: none;
  }

  article:nth-of-type(1) section p,
  article:nth-of-type(2) section p,
  article:nth-of-type(3) section p,
  article:nth-of-type(4) section p {
    margin: 0;
    padding: 0;
    height: auto;
    scrollbar-width: none;
    overflow-y: visible;
    line-height: calc(1.49 * 1em);
    text-align: start;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space-collapse: preserve;
  }

  article:nth-of-type(2) section p {
    white-space-collapse: unset;
  }

  .professional-statement section p {
    white-space-collapse: unset;
  }

  .skills-header {
    margin-top: 0;
  }

  .skills {
    border: none;
    margin: 0;
  }

  .skills p {
    text-align: start;
    line-height: calc(1.49 * 1em);
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    text-transform: capitalize;
  }

  .skills h5 {
    font-size: 1rem;
  }

  .headshot-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
  }

  .professional-statement-header {
    text-align: left;
    padding: 0;
  }

  .professional-statement-header br {
    display: none;
  }

  .contact-header {
    margin-left: 0;
  }

  figure img {
    width: 90%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 20% -22%;
    border: solid 1px rgb(47, 40, 40);
  }

  .swe-img {
    object-position: 18% 27%;
  }

  .internship-img {
    object-position: 17% 27%;
  }

  .opengrader-img {
    object-position: 34% 27%;
  }

  .working-img {
    object-position: 40% 27%;
  }

  form {
    margin-left: 0;
    height: auto;
    width: 100%;
  }

  .button-container {
    display: none;
  }

  textarea {
    height: 5.5rem;
  }
}
