@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.woff2") format("woff2"),
    url("../fonts/Chomsky.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Newsreader";
  src: url("../fonts/Newsreader.woff2") format("woff2"),
    url("../fonts/Newsreader.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre-Franklin";
  src: url("../fonts/Libre-Franklin.ttf") format("truetype");
  font-weight: normal bold border;
  font-style: normal;
}

@font-face {
  font-family: "GloucesterMTPro-BoldExtCond";
  src: url("../fonts/GloucesterMTPro-BoldExtCond.woff2") format("woff2"),
    url("../fonts/GloucesterMTPro-BoldExtCond.woff") format("woff");
  font-style: normal italic;
  font-weight: normal lighter;
}

@font-face {
  font-family: "News-Gothic-No2-W02-Blk";
  src: url("../fonts/News-Gothic-No2-W02-Blk.ttf") format("truetype");
  font-style: normal;
  font-weight: normal bold;
}

@font-face {
  font-family: "Cheltenham";
  src: url("../fonts/CheltenhamBT-BoldItalic.woff2") format("woff2"),
    url("../fonts/CheltenhamBT-BoldItalic.woff") format("woff");
  font-weight: normal bold;
  font-style: normal italic;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 4rem 8rem 4rem 8rem;
  font-family: Newsreader;
}

main {
  display: flex;
  margin-top: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.075rem;
  height: 28.15rem;
  margin-left: 0.5rem;
}

article:nth-of-type(4) section p {
  height: 17.8rem;
}

article:nth-of-type(3) section p,
article:nth-of-type(1) section p {
  height: 30.3rem;
}

article:nth-of-type(4) section p,
article:nth-of-type(3) section p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

article:nth-of-type(1) section p {
  padding-right: 0.5rem;
}

section p {
  margin: 0;
  height: 30rem;
  scrollbar-width: none;
  overflow-y: scroll;
}

p {
  margin-top: 0;
  text-align: justify;
}

input,
textarea {
  width: 100%;
}

textarea {
  height: 100%;
  margin: 0;
  white-space: pre-wrap;
}

article:nth-of-type(3) section .button-container {
  padding: 0 0.5rem 0 0.5rem;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem 0 0;
  margin-top: 0.5rem;
}

button {
  width: 100%;
  font-family: "Newsreader";
  border-width: 1px;
  border-radius: 0;
  line-height: 1.5rem;
}

article:nth-of-type(1), /*jobs*/
article:nth-of-type(3), /*skills*/
article:nth-of-type(4), /*professional statement*/
article:nth-of-type(5) {
  /*mail form*/
  /**/
  flex: 1;
}

article:nth-of-type(2) {
  flex: 3;
}

article:nth-of-type(2) .horizontal-line {
  margin: 0 19.5rem 0 19.5rem;
}

.vertical-line {
  border-left: 1px solid rgb(131, 131, 131);
  margin-top: 0.41rem;
}

.horizontal-line {
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1rem 3rem 1rem 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline;
  font-family: "Chomsky";
  font-size: 8.25rem;
  font-weight: lighter;
  line-height: 7rem;
  margin: 0;
  text-align: center;
}

svg {
}

h2 {
  margin: 0;
}

h3 {
  text-align: center;
  font-family: "GloucesterMTPro-BoldExtCond";
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin: 0 0 0 0;
}

h4 {
  font-family: "Newsreader";
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1em;
}

h5 {
  text-align: center;
  margin: 0 0 0.25rem 0;
  line-height: 1em;
}

article:nth-of-type(4) figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

article:nth-of-type(4) figure figcaption {
  margin-top: 0.5rem;
}

figure {
  margin: 0;
}

figure img {
  width: 12.52rem;
  object-fit: cover;
}

article:nth-of-type(2) figure figcaption {
  margin: 0.19rem 0 1rem 0;
}
figcaption {
  text-align: center;
}

.projects-header {
  text-align: center;
}

.edition-and-forecast {
  display: inline-flex;
  flex-direction: column;
  width: 213px;
  height: fit-content;
}

.motto {
  border: solid 1px black;
  font-size: 1.1rem;
  padding: 1.25rem;
  width: 12rem;
  text-align: center;
}

.website-metadata {
  display: flex;
  font-family: "Newsreader";
  font-weight: lighter;
  font-size: 1.1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin-top: 0.75rem;
  justify-content: space-between;
}

.website-metadata span:nth-child(2) {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  font-weight: lighter;
}

.website-metadata time {
}

.external-links {
  display: flex;
  gap: 0.125rem;
}

.external-links a {
  font-size: 1rem;
  color: black;
}

.external-links a:hover {
  color: rgb(131, 131, 131);
}
.edition {
  font-family: "Libre-Franklin";
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.forecast {
  font-size: 0.8rem;
  text-align: justify;
  margin: 0;
}
.forecast-time {
  font-weight: bold;
}

.jobs-header,
.projects-header,
.contact-header {
  font-family: "GloucesterMTPro-BoldExtCond";
  font-weight: lighter;
  font-size: 2.75rem;
  line-height: 1.08;
}

.projects-header {
  padding-left: 0.5rem;
}

.contact-header {
  margin-left: 0.4rem;
}
.skills-header {
  font-family: "News-Gothic-No2-W02-Blk";
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 1rem;
}

.skills-image {
  object-fit: cover;
  height: 24.8rem;
  width: 47rem;
}

.skills {
  border: 1px black solid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

.skills :nth-child(4) {
  margin-bottom: 0rem;
}

.professional-statement-header {
  font-family: "Cheltenham";
  font-size: 2.1rem;
  line-height: 2.25rem;
  margin-top: 0.07rem;
  padding-left: 0.9rem;
  text-align: justify;
}

/* small devices phones */
@media screen and (width <= 440px) {
  body {
    display: block;
    margin: 0.5rem 1.25rem 0.5rem 1.25rem;
  }
  header {
    justify-content: center;
  }

  .motto,
  .edition-and-forecast {
    display: none;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .website-metadata {
    display: none;
    /* margin-top: .25rem; FIXME: maybe all of this could go inside a burger menu?*/
    /* justify-content: center; */
  }

  main {
    flex-direction: column;
    margin-top: 0;
  }

  /* .website-metadata span:nth-child(1), */
  /* .website-metadata span:nth-child(2), */
  /* .website-metadata time, */
  /* .website-metadata span:nth-child(5) { */
  /* display: none; */
  /* } */
  .h1-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0.25rem 0 0.25rem 0;
  }

  .h2-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0.5rem 37% 0.85rem 37%;
  }

  .h5-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 0.5rem 37% 0.85rem 37%;
  }

  .article-horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 1rem 0 1rem 0;
  }

  .jobs-header,
  .projects-header {
    text-align: left;
    padding: 0;
  }

  .jobs-header br,
  .projects-header br {
    display: none;
  }

  article:nth-of-type(2) .horizontal-line {
    margin: 0.75rem 37% 0.75rem 37%;
  }

  .horizontal-line {
    margin: 0.75rem 37% 0.75rem 37%;
  }

  .vertical-line {
    display: none;
  }

  article:nth-of-type(1) section p,
  article:nth-of-type(2) section p,
  article:nth-of-type(3) section p {
    margin: 0;
    padding: 0;
    height: auto;
    scrollbar-width: none;
    overflow-y: visible;
  }

  .headshot-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
  }

  .professional-statement-header {
    text-align: left;
    padding: 0;
  }

  .professional-statement-header br {
    display: none;
  }

  figure img {
    width: 65%;
  }

  .button-container {
    display: none;
  }
}
